#landing {
    position: relative;
    min-height: 99vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: clamp(1rem, 4.5vw, 2rem);
    padding: clamp(1rem, 4.5vw, 2rem);
    margin: auto;
    text-align: center;
}

#landing p {
    max-width: 733px;
    font-weight: bold;
    line-height: 1.7;
}