#services {
    min-height: 100vh;
    flex-direction: column;
    gap: clamp(2rem, 4.5vw, 4rem);
}

#services,
#services section {
    display: flex;
    gap: clamp(2rem, 4.5vw, 4rem);
}

#services .case-video,
#services .case-list {
    flex: 1;
}

.case-list {
    font-family: "PromptBold", sans-serif;
    font-weight: bold;
    list-style: none;
    padding: 0;
    font-size: clamp(3rem, 4.5vw, 4rem);
}

#services .case-video {
    width: 100%;
    border-radius: 1rem;
    aspect-ratio: 576 / 360;
    background-color: var(--black);
}