#welcome {
    height: 100vh;
}

.parallax {
    position: relative;
    background-color: #0C18F2;
}

.svg-text {
    position: absolute;
    padding-inline: clamp(1rem, 4.5vw, 2rem);
    width: 100%;
    height: auto;
    bottom: clamp(1rem, 4.5vw, 2rem);
}