#header {
    position: absolute;
    inset: 0;
    width: 100%;
    height: fit-content;
    background-color: #0B0B2D;
    padding: 1rem;
    display: flex;
    align-items: center;
    z-index: 1;
}

.navigation {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    gap: 1rem;
    align-items: center;
    justify-content: center;
}

.navigation a {
    color: #fff;
    text-decoration: none;
    font-weight: 800;
    text-transform: uppercase;
    letter-spacing: .5px;
    transition: color 100ms linear;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    min-height: 3rem;
    min-width: 3rem;
}

.navigation a:hover,
.navigation a:focus-within {
    color: #FFCD00;
}

.buttons {
    display: flex;
    align-items: center;
    justify-content: end;
    flex: 1;
    gap: 1rem;
}

@media (max-width: 701px) {
    #header .navigation {
        display: none !important;
    }
}

@media (min-width: 700px) {
    #toggleMenuButton {
        display: none !important;
    }
}