#header {
    position: relative;
    width: 100%;
    background-color: #0B0B2D;
    padding: 1rem;
    z-index: 999;
    gap: 1rem;
    display: grid;
    grid-template-columns: auto 1fr auto;
    grid-template-rows: repeat(2, auto);
    grid-template-areas:
        'mail logo lang'
        'nav nav nav';
}

#header .logo {
    width: 4rem;
    height: 4rem;
    margin: auto;
    grid-area: logo;
}

#header #langButton {
    grid-area: lang;
}

#header #mailButton {
    grid-area: mail;
}

.navigation {
    grid-area: nav;
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    gap: 1rem;
    align-items: center;
    justify-content: center;
}

.navigation a {
    color: #fff;
    text-decoration: none;
    font-weight: 800;
    text-transform: uppercase;
    letter-spacing: .5px;
    transition: color 100ms linear;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    min-height: 3rem;
    min-width: 3rem;
}

.navigation a:hover,
.navigation a:focus-within {
    color: #FFCD00;
}

@media (min-width: 600px) {
    #header {
        gap: 1rem;
        grid-template-columns: auto 1fr auto;
        grid-template-rows: repeat(2, auto);
        grid-template-areas:
            '. logo .'
            'mail nav lang';
    }

    #header .logo {
        width: 8rem;
        height: 8rem;
    }
}