@font-face {
    font-family: "Open Sans";
    font-weight: 300 800;
    src: local("Open Sans"),
         url("./fonts/Open_Sans/OpenSans-VariableFont_wdth,wght.ttf")
         format("truetype-variations");
}

@font-face {
    font-family: "Open Sans";
    font-style: italic;
    font-weight: 300 800;
    src: local("Open Sans"),
         url("./fonts/Open_Sans/OpenSans-Italic-VariableFont_wdth,wght.ttf")
         format("truetype-variations");
}

@font-face {
    font-family: "Bebas Neue";
    font-weight: 400;
    src: local("Bebas Neue"), url("./fonts/Bebas_Neue/BebasNeue-Regular.ttf") format("truetype");
}

*,
*::after,
*::before {
    margin: 0;
    box-sizing: border-box;
    font-family: "Open Sans", serif;
}

html {
    scroll-behavior: smooth;
}

img {
    display: block;
    width: 100%;
}

h1 {
    font-size: clamp(2rem, 4.5vw, 4rem);
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: "Bebas Neue", sans-serif;
}

.feather {
    width: 1.5rem;
    height: 1.5rem;
    fill: none;
    stroke: #fff;
    stroke-width: 2;
    stroke-linecap: round;
    stroke-linejoin: round;
    transition: stroke 100ms linear;
}

.button,
.cta {
    display: inline-flex;
    min-width: 3rem;
    min-height: 3rem;
    cursor: pointer;
    align-items: center;
    justify-content: center;
    cursor: pointer;
}

.button {
    background-color: transparent;
    border: 0;
}

.cta {
    background-color: #FFCD00;
    padding: 1em 2em;
    font-weight: 800;
    color: #040415;
    text-transform: uppercase;
    text-decoration: none;
    font-size: clamp(1rem, 4.5vw, 1.25rem);
    transition: background-color 100ms linear;
}

.cta:hover,
.cta:focus-within {
    background-color: white;
}

.button:hover .feather,
.button:focus-within .feather {
    stroke: #FFCD00;
}

.section-title {
    font-size: clamp(2rem, 4.5vw, 3rem);
    font-weight: 800;
}

#app {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

#main {
    flex: 1;
}

#landing {
    position: relative;
    min-height: 98vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

#landing section {
    max-width: 46rem;
    margin: auto;
    padding: 1rem;
    text-align: center;
    color: #fff;
}

#landing section p {
    margin-block: 1rem;
    font-weight: bold;
    font-size: clamp(1rem, 4.5vw, 1.25rem);
}

#hero {
    position: absolute;
    width: 100%;
    height: 100%;
    inset: 0;
    z-index: -1;
}

#hero::before {
    content: "";
    position: absolute;
    inset: 0;
    width: 100%;
    height: 100%;
    background-color: #040415;
    opacity: .32;
}

#hero img {
    height: 100%;
    width: 100%;
    object-position: bottom center;
    object-fit: cover;
    z-index: -1;
}

#testimonials ul {
    display: flex;
    flex-wrap: wrap;
    padding: 0;
    list-style: none;
}

.testimonial {
    flex: 1;
    padding: clamp(1rem, 4.5vw, 2rem);
    background-color: #FFCD00;
}

.testimonial h2 {
    font-size: 2rem;
    margin-bottom: 1em;
}

.testimonial p {
    font-style: italic;
}

.testimonial p::before {
    content: "- ";
}

.testimonial:nth-child(even) {
    background-color: #302EBA;
}

.testimonial:nth-child(3n) {
    background-color: #0B0B2D;
}

.testimonial:nth-child(even),
.testimonial:nth-child(3n) {
    color: #fff;
}

#services {
    padding: clamp(1rem, 4.5vw, 2rem);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 2rem;
    color: #040415;
    background-color: #f2f2f2;
}

#services ul {
    padding: 0;
    list-style: none;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    grid-template-rows: auto;
    width: 100%;
    gap: clamp(1rem, 4.5vw, 2rem);
}

.service {
    background-color: #302EBA;
    color: #fff;
}

.service figure {
    aspect-ratio: 16 / 9;
}

.service figure img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: top center;
}

.service section {
    display: flex;
    flex-direction: column;
    gap: clamp(1rem, 4.5vw, 2rem);
    padding: clamp(1rem, 4.5vw, 2rem);
}

.service section h3 {
    font-size: clamp(1.5rem, 4.5vw, 2rem);
}

.service section p {
    font-size: clamp(1rem, 4.5vw, 1.25rem);
}

#contact {
    background-color: #FFCD00;
    padding: clamp(1rem, 4.5vw, 2rem);
    display: flex;
    flex-direction: column;
    gap: clamp(1rem, 4.5vw, 2rem);
    align-items: center;
    justify-content: center;
}

#contact section {
    display: flex;
    flex-direction: column;
    text-align: center;
    gap: 1rem;
    max-width: 46rem;
    margin: auto;
}

#contact section p {
    font-size: clamp(1rem, 4.5vw, 1.25rem);
}

#contact address nav {
    display: flex;
    flex-direction: column;
}

.address-link {
    display: inline-flex;
    min-height: 3rem;
    min-width: 3rem;
    align-content: center;
    justify-content: center;
    gap: .5em;
    font-size: clamp(1rem, 4.5vw, 1.25rem);
    color: #040415;
    transition: color 100ms linear;
}

.address-link .feather {
    stroke: #040415;
    transition: stroke 100ms linear;
}

.address-link:hover,
.address-link:focus-within {
    color: #302EBA;
}

.address-link:hover .feather,
.address-link:focus-within .feather {
    stroke: #302EBA;
}

#langButton {
    background-color: transparent;
    border: 0;
}

#langButton:active,
#langButton:focus-within {
    stroke: #FFCD00;
}

@media (max-width: 701px) {
    #header .navigation {
        display: none !important;
    }
}

@media (min-width: 700px) {
    #toggleMenuButton {
        display: none !important;
    }
}