@font-face {
    font-family: "Open Sans";
    font-weight: 300 800;
    src: local("Open Sans"),
         url("./fonts/Open_Sans/OpenSans-VariableFont_wdth,wght.ttf")
         format("truetype-variations");
}

@font-face {
    font-family: "Open Sans";
    font-style: italic;
    font-weight: 300 800;
    src: local("Open Sans"),
         url("./fonts/Open_Sans/OpenSans-Italic-VariableFont_wdth,wght.ttf")
         format("truetype-variations");
}

:root {
    --black: #0B0B0D;
    --white: #f2f2f2;
    --blue: #0583F2;
    --green: #00843D;
    --yellow: #ffcd00;
    --font-1: "Open Sans";
    --font-2: "Copperplate Gothic Bold";
}

*,
*::after,
*::before {
    margin: 0;
    box-sizing: border-box;
}

html {
    font-family: var(--font-1), serif;
    background-color: var(--black);
    color: var(--white)
}

h1 {
    font-size: clamp(2rem, 4.5vw, 4rem);
    font-family: var(--font-2);
}

.feather {
    width: 1.5rem;
    height: 1.5rem;
    fill: none;
    stroke: var(--white);
    stroke-width: 2;
    stroke-linecap: round;
    stroke-linejoin: round;
}

.button {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    min-width: 3rem;
    min-height: 3rem;
    border: 0;
    background-color: transparent;
    cursor: pointer;
}

.cta {
    background-color: #044BD9;
    width: fit-content;
    padding: 1rem 2rem;
    font-family: var(--font-2);
    letter-spacing: 1px;
    text-transform: uppercase;
    text-decoration: none;
    font-weight: bold;
    color: var(--white);
}

#app {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

#main {
    flex: 1;
}

#hero {
    position: absolute;
    inset: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: bottom center;
    z-index: -1;
}

#hero::after {
    position: absolute;
    content: "";
    background-color: var(--black);
    width: 100%;
    height: 100%;
    opacity: .42;
    z-index: -1;
}