@font-face {
    font-family: 'PromptRegular';
    font-weight: 400;
    src: url("./Prompt/Prompt-Regular.ttf");
}

@font-face {
    font-family: 'PromptBold';
    font-weight: 700;
    src: url("./Prompt/Prompt-Bold.ttf");
}

html {
    font-family: 'PromptRegular', sans-serif;
    color: var(--black);
}

h1,h2,h3,h4,h5,h6 {
    font-family: 'PromptBold', sans-serif;
}