#app {
    position: relative;
    overflow-x: hidden;
    max-width: 100vw;
    min-height: 100vh;
}

#header {

    position: absolute;
    width: 100%;

    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;

    padding: clamp(1rem, 4.5vw, 2rem);
    font-size: clamp(1rem, 4.5vw, 1.1875rem);

    gap: clamp(1rem, 4.5vw, 2rem);

    z-index: 99;

}

#welcome {
    position: relative;
    height: 100vh;
    background: rgb(12,24,242);
    background: radial-gradient(circle, rgba(12,24,242,1) 0%, rgba(4,13,191,1) 100%);
    display: flex;
    align-items: center;
    justify-content: center;
}

#services-text {
    position: absolute;
    bottom: 0;
    width: 100%;
    height: auto;
    padding: clamp(1rem, 4.5vw, 2rem);
    fill: none;
}

#services-text path {
    fill: #FFF;
}

#mascot {
    position: absolute;
    width: 100%;
    height: 100%;
    max-width: 90rem;
    max-height: 90rem;
    bottom: 0;
}

.mascot-head {
    transform: translate(55rem, 4rem);

    animation-name: head-bang;
    animation-duration: 150ms;
    animation-iteration-count: infinite;
    animation-fill-mode: forwards;
    animation-direction: alternate;
    animation-timing-function: cubic-bezier(1, 0, .5, 1);

}

.mascot-body {
    transform: translate(20%, 5%);
}

.page {
    padding: clamp(2rem, 4.5vw, 4rem);
    display: flex;
    flex-direction: column;
    gap: clamp(2rem, 4.5vw, 4rem);
}

.service-list {
    display: flex;
    flex-direction: column;
    padding: 0;
}

.service-list-item {
    display: flex;
}

.service-list-item:not(.service-list-item:first-child) {
    margin-top: -30%;
}

.service-list-column {
    position: relative;
    flex: 1;
}

.service-list-figure {
    transition: transform 200ms cubic-bezier(0, .5, .5, 0), opacity 200ms cubic-bezier(0, .5, .5, 0);
}

.service-list-text {
    font-size: clamp(2rem, 4.5vw, 6rem);
    padding-inline: clamp(2rem, 4.5vw, 4rem);
    transition: transform 200ms cubic-bezier(1, 0, .5, 1), background-color 200ms cubic-bezier(1, 0, .5, 1);
    cursor: default;
}

.carousel {
    display: flex;
    overflow-x: auto;
    gap: clamp(1rem, 4.5vw, 2rem);
    margin-bottom: clamp(2rem, 4.5vw, 4rem);
}

.carousel-item {
    max-width: 42rem;
    min-width: 16rem;
    flex: 1;
    list-style: none;
}

.feed-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-inline: clamp(2rem, 4.5vw, 4rem);
}

.carousel-controllers {
    display: inline-flex;
    gap: .25rem;
}

.carousel-button {
    position: relative;
    width: 3rem;
    height: 3rem;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    border: 0;
    cursor: pointer;
    background-color: transparent;
}

.carousel-button::after {
    position: absolute;
    content: "";
    width: 100%;
    height: 100%;
    background-color: #0d0d0d;
    z-index: -1;
    border-radius: 100%;
    transform: scale(0);
    transition: transform 200ms cubic-bezier(0, .5, .5, 1);
}

.carousel-button::before {
    position: absolute;
    content: "";
    width: 100%;
    height: 100%;
    background-color: #404040;
    z-index: -2;
    border-radius: 100%;
}

.carousel-button:hover::after,
.carousel-button:focus-within::after {
    transform: scale(1);
}

.carousel-button .feather {
    stroke: #fff;
}

@keyframes head-bang {

    from {
        transform: translate(55rem, 4rem) rotate(-1deg);
    }

    to {
        transform: translate(60rem, 5rem) rotate(3deg);
    }

}

@media (max-width: 46rem) {

    .service-list {
        gap: clamp(2rem, 4.5vw, 4rem);
    }

    .service-list-item {
        display: flex;
        flex-direction: column;
    }

    .service-list-text {
        padding: 0;
        margin-top: 1rem;
    }

    .service-list-item:not(.service-list-item:first-child) {
        margin-top: 0;
    }

}

@media (min-width: 46rem) {

    .service-list-item:hover .service-list-text {
        color: #0C18F2;
        transform: translateX(1em);
    }

    .service-list-figure {
        opacity: 0;
    }

    .service-list-item:hover .service-list-figure {
        opacity: 1;
    }

}