.nav {
    display: inline-flex;
    gap: 1em;
}

.logo,
.nav-link {
    text-decoration: none;
    color: #0d0d0d;
}

.white {
    color: #FFF;
}

.figure {
    position: relative;
    border-radius: 1rem;
    overflow: hidden;
    aspect-ratio: 4/3;
}

.image {
    display: block;
    width: 100%;
}

.figure .image {
    position: absolute;
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center center;
}

.card {
    position: relative;
}

.card-link {
    position: absolute;
    inset: 0;
    width: 100%;
    height: 100%;
    z-index: 1;
}

.card-figure {
    aspect-ratio: 3/4;
}

.card-bottom {
    padding-block: clamp(1rem, 4.5vw, 1.1875rem);
}

.card-title {
    font-family: PromptSemiBold, sans-serif;
    font-size: clamp(1rem, 4.5vw, 1.1875rem);
    margin-bottom: 1em;
}

.card-text {
    color: #888888;
}

.feather {
    fill: none;
    stroke: #0d0d0d;
    stroke-width: 2;
    stroke-linecap: round;
    stroke-linejoin: round;
    width: 1.5rem;
    height: 1.5rem;
}