.logo {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    min-height: 3rem;
    min-width: 3rem;
}

.logo a {
    font-size: 2rem;
    text-decoration: none;
    font-family: var(--font-secondary), sans-serif;
}